* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

header {
    background-color: #222;
    height: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo-search img {
    margin-right: 41px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.header-icons {
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 20px;
}

.cart {
    position: relative;
    display: inline-block;
}

.cart-link {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -20px;
    /* Регулируйте вертикальное положение цифры */
    right: -10px;
    /* Регулируйте горизонтальное положение цифры */
    background-color: #F16D7F;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}


/* Стили для баннера */
.banner {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-image {
    grid-column: 1;
    justify-self: end;
}

.banner-brand {
    grid-column: 2;
    justify-self: start;
    margin-top: 290px;
    margin-left: 64px;
    max-width: 418px;
    max-height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.banner-brand p {
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.banner-brand .brand-text {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.banner-brand .luxurious-text {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.banner-brand .fashion-text {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

/* Стили для выпадающего меню */
.menu {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #F16D7F;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показываем меню при наведении на кнопку меню */
#menu-button:hover+.menu {
    display: block;
}

/* Скрыть меню при уходе курсора с меню */
.menu:hover {
    display: block;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1140px;
    margin: 65px auto;
}

.product-card {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    max-height: 260px;
    transition: transform 0.3s;
}

.product-large {
    grid-column: span 3;
    max-width: 1140px;
    height: 180px;
}

.product-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.70);
    /* Затемнение */
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s;
}

.product-overlay img {
    max-width: 100%;
    height: auto;
}

.product-overlay p {
    margin: 0;
    min-width: 100%;
    z-index: 3;
    /* Поверх затемнения */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale__text {
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.product-card:hover .product-image img {
    transform: scale(1.1);
}

.product-card:hover .product-overlay,
.product-large:hover .product-overlay {
    opacity: 0.8;
}

/* Стили для секции Featured Items */
.featured-items {
    max-width: 1140px;
    margin: 96px auto;
}

.featured-items img {
    display: block;
}

/* Стили для заголовка */
.featured-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-around
}

/* Стили для подзаголовка */
.featured-subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-around
}

/* Стили для контейнера карточек */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Стили для карточек товаров */
.product-sale {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 581px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.image-container {
    position: relative;
    height: 420px;
}

/* стили для блока с текстом внутри карточек product-sale */
.product-text {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    border: none;
    height: 180px;
    width: 100%;
}

.product-sale .product-text .product-title a {
    color: #222;
    font-weight: bolder;
}

.product-title {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 18px;
    margin-left: 18px;
    background: none;
}

.product-description {
    font-family: Lato;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-left: 18px;
}

.product-price {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    position: absolute;
    margin-top: 18px;
    margin-left: 18px;
}

.browse-button {
    text-align: center;
    margin-top: 48px;
    background-color: none;
}

.button-link {
    display: inline-block;
    width: 212px;
    height: 48px;
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F26376;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    border: 1px solid #F16D7F;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #FF5068;
}

/* Размещаем блоки footer-block по горизонтали */
.delivery-promotions-subscription {
    background: #222224;
}

.dps {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 104px 0 104px 0;
    flex-direction: row;
}

.footer-block {
    text-align: center;
    flex: 1;
    color: #FBFBFB;
}

/* Стили для текста внутри блока footer-block */
.title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 16px;
}

.description {
    font-size: 14px;
    margin-bottom: 18px;
    font-weight: 300;
}

.sea {
    display: flex;
    position: relative;
    text-align: center;
    max-height: 450px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.background-image {
    background-image: url(img/back-fot.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/* Стили для контейнера с текстом и маленькой картинкой */
.footer-section-white {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    color: #222224;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 97px;
    margin-bottom: 126px;
    width: 1140px;
}

.footer-image {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.footer-image img {
    display: block;
    /* Чтобы изображение не имело ненужных отступов */
    margin: 0 auto 30px;
    /* Центрировать изображение и добавить отступ снизу */
}

.a_pul {
    font-style: italic;
    /* Применить курсив к части текста */
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 53px;
}

.for {
    font-size: 18px;
    font-weight: 400;
}

.subscribe-form {
    display: flex;
    align-items: center;
    width: 360px;
    height: 49px;
    margin-top: 32px;
}

.subscribe-form input[type="email"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="49" viewBox="0 0 256 49" fill="none"><path d="M256 0H17.6287C7.89266 0 0 10.969 0 24.5C0 38.031 7.89266 49 17.6287 49H256V24.5V0Z" fill="%23E1E1E1"/></svg>');
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 22px;
    background-color: #F4F4F4B2;
}

.subscribe-form button[type="submit"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="49" viewBox="0 0 100 49" fill="none"><path d="M0 0H77.8846C83.75 0 89.3751 2.58127 93.5225 7.17591C97.67 11.7706 100 18.0022 100 24.5C100 30.9978 97.67 37.2294 93.5225 41.8241C89.3751 46.4187 83.75 49 77.8846 49H0V0Z" fill="%23F16D7F"/></svg>');
    background-repeat: no-repeat;
    color: #FFF;
    width: 32%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}


.footer-section-bottom {
    flex: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #222224;
    color: #FBFBFB;
    max-height: 80px;
}

.fsb {
    max-width: 1140px;
    display: flex;
    padding: 23px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    margin-right: 8px;
}

.social-icon:hover {
    background-color: #F16D7F;
}

.social-icon img {
    vertical-align: middle;
}

.social-icon:hover img {
    opacity: 0.5;
    filter: brightness(0) invert(1);

}

/* Медиа-запрос для планшетной версии (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .banner-brand {
        margin-top: 138px;
        margin-left: 39px;
        max-width: 283px;
        max-height: 78px;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        display: flex;
        align-items: center;
    }

    .banner-brand .brand-text {
        font-size: 44px;
    }

    .banner-brand .luxurious-text {
        font-size: 24px;
    }

    .banner-brand .fashion-text {
        font-size: 24px;
    }

    .product-section {
        grid-gap: 20px;
        max-width: 735px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .product-card {
        max-width: 230px;
        max-height: 160px;
    }

    .product-large {
        max-width: 735px;
        max-height: 116px;
    }

    /* Стили для секции Featured Items */
    .featured-items {
        width: auto;

        padding-left: 16px;
        padding-right: 16px;
    }

    /* Изменения для контейнера карточек */
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .delivery-promotions-subscription {
        min-height: 610px;

    }

    .dps {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .description {
        margin: 0;
    }

    .footer-block img {
        margin-top: 48px;
    }

    .sea {
        max-height: 100%;
    }

    .background-image {
        background-image: url(img/back-fot1.png);
        width: 100%;
    }

    .footer-section-white {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin: 0;
    }

    .footer-image {
        margin-top: 64px;
    }

    .footer-subscribe {
        margin-bottom: 219px;
    }

}

/* Медиа-запрос для мобильных устройств (320px - 767px) */
@media screen and (min-width: 320px) and (max-width: 767px) {

    .header-logo-search img {
        margin-left: 16px;
        margin-right: 0;
    }

    .reg, .cart {
        display: none;
    }

    .header-icons .mb a {
        margin-right: 16px;
    }

    .header-icons {
        flex-direction: row-reverse;
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Стили для баннера на мобильных устройствах */
    .banner-image {
        display: none;
    }

    .banner-brand {
        margin-left: 0;
        margin-top: 148px;
        margin-bottom: 148px;
    }

    .banner-brand .brand-text {
        font-size: 38px;
    }

    .banner-brand .luxurious-text,
    .banner-brand .fashion-text {
        font-size: 20px;
    }

    .product-section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 343px;

    }

    .product-card {
        width: 100%;
        max-height: 247px;
    }

    .product-image {
        height: 100%;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    .product-large {
        width: 100%;
        height: 110px;
    }

    /* Стили для секции Featured Items на мобильных устройствах */
    .featured-items {
        max-width: calc(100% - 16px);
        margin: 0 auto;
    }

    .featured-title {
        font-size: 30px;
    }

    .featured-subtitle {
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 65px;
        text-align: center;
    }

    /* Стили для контейнера карточек */
    .card-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
        max-width: 360px;
        margin: 0 auto;
    }

    .product-sale {
        width: 100%;
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }

    .browse-button {
        margin-top: 40px;
        padding-bottom: 84px;
    }

    .dps {
        flex-direction: column;
        padding-bottom: 64px;
    }

    .sea {
        max-height: 100%;
    }

    .background-image {
        background-image: url(img/back-fot1.png);
        width: 100%;
    }

    .footer-section-white {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin: 0;
    }

    .footer-image {
        margin-top: 64px;
        font-size: 18px;
    }

    .for {
        font-size: 14px;
    }
}