* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

header {
    background-color: #222;
    height: 75px;
}

/* Стили для остальных элементов */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo-search img {
    margin-right: 41px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.header-icons {
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 20px;
}

/* Стили для баннера */
.banner {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-image {
    grid-column: 1;
    justify-self: end;
}

.banner-brand {
    grid-column: 2;
    justify-self: start;
    margin-top: 290px;
    margin-left: 64px;
    width: 418px;
    height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.banner-brand p {
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.banner-brand .brand-text {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.banner-brand .luxurious-text {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.banner-brand .fashion-text {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

/* Стили для выпадающего меню */
.menu {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #F16D7F;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показываем меню при наведении на кнопку меню */
#menu-button:hover+.menu {
    display: block;
}

/* Скрыть меню при уходе курсора с меню */
.menu:hover {
    display: block;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1140px;
    margin: 65px auto 0;
}

.product-card {
    position: relative;
    overflow: hidden;
    width: 360px;
    min-height: 260px;
    transition: transform 0.3s;
}

.product-large {
    grid-column: span 3;
    width: 1140px;
    min-height: 180px;
}

.product-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.70);
    /* Затемнение */
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s;
}

.product-overlay img {
    max-width: 100%;
    height: auto;
}

.product-overlay p {
    margin: 0;
    padding: 10px;
    z-index: 3;
    /* Поверх затемнения */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale__text {
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.product-card:hover .product-image img {
    transform: scale(1.1);
}

.product-card:hover .product-overlay,
.product-large:hover .product-overlay {
    opacity: 0.8;
}

/* Стили для секции Featured Items */
.featured-items {
    width: 1140px;
    margin: 96px auto;
}

/* Стили для заголовка */
.featured-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-around
}

/* Стили для подзаголовка */
.featured-subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-around
}

/* Стили для контейнера карточек */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

/* Стили для карточек товаров */
.product-sale {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 581px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.image-container {
    position: relative;
    height: 420px;
}

/* Обновленные стили для блока с текстом внутри карточек product-sale */
.product-text {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    border: none;
    height: 180px;
    width: 100%;
}

.product-sale .product-text .product-title a {
    color: #222;
}

.product-title {
    text-decoration: none;
    font-family: Lato;
    color: #000;
    ;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 18px;
    margin-left: 18px;
    background: none;
}

.product-description {
    font-family: Lato;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-left: 18px;
}

.product-price {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    position: absolute;
    margin-top: 18px;
    margin-left: 18px;
}

/* Стили для кнопки "Browse All Product" */
.browse-button {
    text-align: center;
    margin-top: 48px;
    background-color: none;
}

.button-link {
    display: inline-block;
    width: 212px;
    height: 48px;
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F26376;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    border: 1px solid #F16D7F;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #FF5068;
    /* Цвет при наведении */
}